.App {
  text-align: center;
  padding: 0px;
  margin: 0px;

  background-color: rgb(70, 43, 226);
}

.Header {
  padding: 10px;
  margin: 0px;
  background-color: blueviolet;
}

.Nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-content:center;
  justify-content: center;
}

.Nav__Button {
  background-color: rgb(255, 200, 0);
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.Nav__Button:hover {
  background-color: aquamarine;
}

.logged {
  background-color: brown;
  color: aliceblue;
  margin: 0px;
  padding: 3px;
}
