:root {
  --opacity: #6dabfc;
  --main: #ff7b7b;
  --secondary: #ff7b7b;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--secondary);
}
h3 {
  color: var(--secondary);
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--secondary);
  font-size: 1.5vw;
}

body {
  background-image: url("../src/background.jpg");
  background-color: #cccccc;
  background-size: contain;
}

.App {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.Link {
  text-decoration: none;
}

.headerNav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.Header {
  font-size: 2vw;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--main);
  color: var(--secondary);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media only screen and (max-width: 600px) {
  .HeaderNav {
    flex-direction: column;
  }
}

.Nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  /* align-content: center;
  justify-content: center; */
}

.Nav__Button {
  background-color: var(--opacity);
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 5px;
  font-size: 28px;
  text-decoration: none;
  color: var(--secondary);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.Nav__Button:hover {
  background-color: var(--secondary);
  color: var(--main);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.logged {
  background-color: var(--opacity);
  color: var(--main);
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.review__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.review__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  list-style: none;
  margin: 5px;
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 10px;
  text-decoration: none;
  color: var(--secondary);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.review__card:hover {
  box-shadow: inset 0px 0px 12px 1px rgb(96, 96, 96);
}

@media only screen and (max-width: 600px) {
  .review__card {
    width: 90vw;
  }
}

.single__card {
  list-style: none;
  margin: 5px;
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 10px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.single__headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single__title {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  font-size: 32px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.single__timeUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.single__time {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.single__user {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.single__catVote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single__votes {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  border-style: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.single__votes:active {
  box-shadow: inset 0px 0px 10px #f9595f;
}

.single__votesflex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-style: normal;
}

.likes__text {
  padding: 0px;
  margin: 0px;
}

.vote__icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.single__category {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 10px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.imgPara {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .imgPara {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.single__img {
  border-radius: 10px;
  width: 70%;
  margin: 0px;
  padding: 0px;
}

.single__para {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.single__comments {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.single__commentButton {
  background-color: var(--opacity);
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.review__title {
  padding: 3px;
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.review__time {
  background-color: var(--opacity);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.review__user {
  background-color: var(--opacity);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.review__category {
  background-color: var(--opacity);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.category__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.category__card {
  background-color: var(--opacity);
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.category__title {
  text-decoration: none;
  color: var(--secondary);
  font-size: 40px;
  margin: 0px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.category__description {
  background-color: var(--opacity);
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--secondary);
  font-size: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.review__img {
  border-radius: 10px;
  width: 90%;

  margin: 0px;
  padding: 0px;
}

.review__para {
  background-color: var(--opacity);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.flex__horz {
  display: flex;
  flex-direction: row;
}

.review__comments {
  padding: 3px;
  margin-left: 20px;
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.review__votes {
  padding: 3px;
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.comment__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.comments__card {
  background-color: var(--opacity);
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.authTime {
  display: flex;
  align-items: flex-end;
}

.comments__author {
  background-color: var(--opacity);
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.comments__time {
  background-color: var(--opacity);
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.comments__body {
  background-color: var(--opacity);
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.comment__input {
  width: 99%;
  height: 70px;
  border-style: none;
  border-radius: 5px;
}

.popup {
  border-style: none;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  background-color: #00000000;
}

.posting {
  background-color: var(--opacity);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
