:root {
  --opacity: #0000000d;
  --main: #fcedc3;
  --secondary: #2285ff67;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App {
  padding: 0px;
  margin: 0px;
  background-color: var(--main);
  text-decoration: none;
}

.Link {
  text-decoration: none;
}

.headerNav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.Header {
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-color: var(--main);
  color: var(--secondary);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .HeaderNav {
    flex-direction: column;
  }
}

.Nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Nav__Button {
  background-color: var(--opacity);
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  color: var(--secondary);
}

.Nav__Button:hover {
  background-color: var(--secondary);
  color: var(--main);
}

.logged {
  background-color: var(--opacity);
  color: var(--main);
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

.review__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.review__card {
  width: 30vw;
  list-style: none;
  margin: 5px;
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 10px;
  text-decoration: none;
}

.review__card:hover {
  box-shadow: inset 0px 0px 12px 1px rgb(96, 96, 96);
}

@media only screen and (max-width: 600px) {
  .review__card {
    width: 90vw;
  }
}

.single__card {
  list-style: none;
  margin: 5px;
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 10px;
  text-decoration: none;
}

.single__headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single__title {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  font-size: 32px;
}

.single__timeUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.single__time {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 5px;
}
.single__user {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 5px;
}

.single__catVote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single__votes {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  font-size: 24px;
}

.single__category {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 10px;
  font-size: 24px;
}

.imgPara {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .imgPara {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.single__img {
  border-radius: 10px;
  width: 70%;
  margin: 0px;
  padding: 0px;
}

.single__para {
  background-color: var(--opacity);
  border-radius: 5px;
  margin: 10px;
}

.single__comments {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
}

.single__commentButton {
  background-color: var(--opacity);
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
}

.review__title {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
}

.review__time {
  background-color: var(--opacity);
  border-radius: 5px;
}
.review__user {
  background-color: var(--opacity);
  border-radius: 5px;
}

.review__category {
  background-color: var(--opacity);
  border-radius: 5px;
}

.review__img {
  border-radius: 10px;
  width: 70%;
  max-height: 180px;
  margin: 0px;
  padding: 0px;
}

.review__para {
  background-color: var(--opacity);
  border-radius: 5px;
}

.review__comments {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
}

.review__votes {
  background-color: var(--opacity);
  border-radius: 5px;
  text-decoration: none;
}

.like {
  width: 13px;
}

.comment__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.comments {
  background-color: var(--opacity);
  border-radius: 5px;
  list-style: none;
  margin: 5px;
}

.comment__input {
  width: 95%;
  height:70px;
}
